@media screen and (max-width: 550px) {
  label {
      margin-left: 20px;
      display: block;
      cursor: pointer;
  }
  .navLinks {
      position: relative;
      top: 20px;
      display: none;
  }
  .navLinks a {
      display: block;
  }
  #hiddenCheck:checked + .navLinks{
      display: block;
  }
}
