body {
  margin: 10%;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
#menu {
  background-color: darkolivegreen;
  color: snow;
  padding: 5px 5px;
  text-align: center;
  min-height: 400px;
}
button {
  margin: 4px;
  padding: 4px;
  background-color: snow;
}
button:hover {
  background-color: darkolivegreen;
  color: snow;
}
h2 {
  text-align: center;
  background-color: darkolivegreen;
  padding: 15px;
  color: snow;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
